.Main_Container{
    font-size: 30px;
    color: white;
    text-align: center;
    height: 80px;
    background-size: 60px 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("");
}
.heading1_Main{
    padding-top: 20px;
    
}