.Main_Container{
    height: 80px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-image: url("https://media.istockphoto.com/id/1199017962/photo/idyllic-forest-glade-mossy-woodland-golden-rays-of-sunbeams-panorama.webp?s=1024x1024&w=is&k=20&c=_zYUd-28D7bpsvfIDQElruQN5m8Ww8b3bZd5840P-tE=");
}